*.gem
.bundle
.sass-cache
Gemfile.lock
_site/
_posts/2015-11-01-installation.md
_posts/2016-07-01-images.md
_posts/2016-08-01-analytics-tags-comments.md
_posts/2016-09-16-be-social.md
_posts/2016-09-20-customizations.md
_posts/2016-10-01-code-syntax-highlighting.md
_posts/2016-11-02-text-formatting.md
_posts/2016-12-01-jekyll-clean-theme.md
